<section class="content-header">
    <h1>
        Requests
        <small>Requested Drug Information By Outlets</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#requests"><i class="fa fa-arrow-down"></i>Requests</a></li>
    </ol>

</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">All Requests</h3>

            <div class="box-body">
                <table datatable="ng" id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Request ID</th>
                            <th>Drug</th>
                            <th>Date</th>
                            <th>Unit</th>
                            <th>By</th>
                            <th>Department</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in requests">
                            <td id="user_td_{{request.userID}}">{{request.userID}}</td>
                            <td id="request_td_{{request.requestID}}">{{request.requestID}}</td>
                            <td id="drug_td_{{request.drug}}">{{request.drug}}</td>
                            <td id="date_td_{{request.date}}">{{request.date}}</td>
                            <td id="unit_td_{{request.unit}}">{{request.unit}}</td>
                            <td id="by_td_{{request.by}}">{{request.by}}</td>
                            <td id="department_td_{{request.department}}">{{request.department}}</td>
                            <td id="actions_td_{{request.actions}}">{{request.actions}}</td>
                            <td>
                                <button class="btn btn-xs btn-info"><i class="fa fa-check"></i>  Approve</button>
                                <button class="btn btn-xs btn-danger"><i class="fa fa-close"></i>  Reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</section>